# Panda's for tables and non-data parsing

Make text ITALIC: *Italic*
Make text BOLD: **Bold**
List item as a bullet: dash and space -
List item as a number: Simple as number and dot 1.
Indenting text: Greater than and space >
Inline code span: Back quotation mark " ` "
Block of code: Triple back quotation marks " ``` "
Link a section: [Title of Section](#title-of-section)
Hyperlink: [Text](URL)

https://stackabuse.com/reading-and-writing-html-tables-with-pandas/
https://realpython.com/python-csv/

Using HTML, one of the standard languages in web development, we are going to look at the native `<table>` element. In this presentation, we are going to look at reading dataframes using pandas with HTML data from a URL and then from a file and then we are going to write a dataframes using HTML style.

## Making a Table from a URL

*    Title: Reading and Writing HTML Tables with Pandas
*    Author: Naazneen Jatu
*    Date: Last Updated: September 19th, 2021
*    Code version: Python 3.x
*    Availability: https://stackabuse.com/reading-and-writing-html-tables-with-pandas

In [1]:
import pandas as pd

In order to read the HTML `<table>` element from a website and turn it into a dataframe in Pandas, we will need to use a familiar Pandas function to read the html URL. As we remember when working with [CSV files](https://realpython.com/python-csv/), they had functions `pd.read_csv()` and `pd.to_csv()`. In this case we will use `pd.read_html()` and `pd.to_html()` to manipulate our data frames.

The data used in the presentation today is the Defensive Stats per team for the 2021 season from [The National Football League](https://www.nfl.com/stats/team-stats/defense/passing/2021/reg/all).

In [48]:
# credit given above
table = pd.read_html('https://www.nfl.com/stats/team-stats/defense/passing/2021/reg/all')
print('Tables Recovered:', len(table)) # Confirm what we see with output
df = table[0] # This will save the first recovered table as df
print(df.head()) # Prints the first five rows

Tables Recovered: 1
                   Team  Att  Cmp  Cmp %  Yds/Att   Yds  TD  INT  1st  1st%  \
0  BuccaneersBuccaneers  680  445   65.4      6.0  4062  26   17  214  31.5
1          ChiefsChiefs  610  401   65.7      7.0  4273  27   15  209  34.3
2      ChargersChargers  559  357   63.9      6.7  3761  27   11  199  35.6
3      SteelersSteelers  563  355   63.1      6.5  3656  24   13  186  33.0
4            BillsBills  530  297   56.0      5.2  2771  12   19  138  26.0

   Sck
0   47
1   31
2   35
3   55
4   42

In [3]:
print(df.head(10)) # This prints the first ten rows

                   Team  Att  Cmp  Cmp %  Yds/Att   Yds  TD  INT  1st  1st%  \
0  BuccaneersBuccaneers  680  445   65.4      6.0  4062  26   17  214  31.5
1          ChiefsChiefs  610  401   65.7      7.0  4273  27   15  209  34.3
2      ChargersChargers  559  357   63.9      6.7  3761  27   11  199  35.6
3      SteelersSteelers  563  355   63.1      6.5  3656  24   13  186  33.0
4            BillsBills  530  297   56.0      5.2  2771  12   19  138  26.0
5        CowboysCowboys  612  364   59.5      6.6  4049  24   26  191  31.2
6        RaidersRaiders  606  400   66.0      6.2  3789  29    6  202  33.3
7      DolphinsDolphins  608  373   61.4      6.4  3871  23   14  199  32.7
8          RavensRavens  621  397   63.9      7.6  4742  31    9  232  37.4
9              RamsRams  625  416   66.6      6.6  4109  17   19  214  34.2

   Sck
0   47
1   31
2   35
3   55
4   42
5   41
6   35
7   48
8   34
9   50

But we can replace this with any number that is equal to or less than our index of total rows. So if we ask Pandas to print more than the amount of rows, it will just print the number of rows in the table.

https://www.nfl.com/stats/team-stats/defense/passing/2021/reg/all

In [4]:
# It is easy now export to a csv file to use in a project
dfto_csv = df.to_csv('2021NFL_Defense.csv',encoding='utf-8', sep=',')

## Making a Table from a HTML File

In order to make a dataframe from an HTML file I am going to goto the Chrome inspect and copy the table elements and make it into a HTML file.

First we need download a python library to read the HTML, so we pip install [LXML](https://lxml.de/)

In [12]:
# ! pip install lxml

Then we need to copy source code from the browsers 'inspect' in the developer tools and I am going to find the table element and copy it to VSCODE (my code-editor of choice) and going to save it as a html. You can make your own table in html using this [layout](https://www.w3schools.com/html/html_tables.asp)... TAKE NOTE OF THIS LINK.

In [6]:
table2 = pd.read_html('2021NFL_Defense.html')
print('Tables Recovered:', len(table2)) # Confirm what we see with out output
df_file = table2[0] # This will save the first recovered table as df
print(df_file.head(32)) # Prints the first five rows

Tables Recovered: 2
             Team  Att  Cmp  Cmp %  Yds/Att   Yds  TD  INT  1st  1st%  Sck
0           49ers  545  372   68.3      6.4  3510  25    9  180  33.0   48
1           Bears  477  314   65.8      6.8  3257  31    8  170  35.6   49
2         Bengals  626  420   67.1      6.7  4222  26   13  213  34.0   42
3           Bills  530  297   56.0      5.2  2771  12   19  138  26.0   42
4         Broncos  562  341   60.7      6.5  3652  22   13  192  34.2   36
5          Browns  576  367   63.7      6.0  3439  29   13  184  31.9   43
6      Buccaneers  680  445   65.4      6.0  4062  26   17  214  31.5   47
7       Cardinals  561  367   65.4      6.5  3645  30   13  192  34.2   41
8        Chargers  559  357   63.9      6.7  3761  27   11  199  35.6   35
9          Chiefs  610  401   65.7      7.0  4273  27   15  209  34.3   31
10          Colts  597  390   65.3      6.7  3980  32   19  213  35.7   33
11        Cowboys  612  364   59.5      6.6  4049  24   26  191  31.2   41
12       Dolphins  608  373   61.4      6.4  3871  23   14  199  32.7   48
13         Eagles  589  409   69.4      6.4  3756  28   12  208  35.3   29
14        Falcons  577  391   67.8      6.8  3952  31   12  214  37.1   18
15  Football Team  597  400   67.0      7.3  4333  34   11  220  36.8   38
16         Giants  611  402   65.8      6.3  3839  27   15  216  35.4   34
17        Jaguars  543  377   69.4      7.1  3875  24    7  198  36.5   32
18           Jets  587  401   68.3      7.5  4409  28    7  234  39.9   33
19          Lions  544  359   66.0      7.6  4160  31   11  211  38.8   30
20        Packers  603  379   62.8      6.2  3724  31   18  194  32.2   39
21       Panthers  515  337   65.4      6.3  3266  26    9  170  33.0   39
22       Patriots  538  319   59.3      5.9  3181  21   23  176  32.7   36
23        Raiders  606  400   66.0      6.2  3789  29    6  202  33.3   35
24           Rams  625  416   66.6      6.6  4109  17   19  214  34.2   50
25         Ravens  621  397   63.9      7.6  4742  31    9  232  37.4   34
26         Saints  592  369   62.3      6.4  3821  20   18  185  31.2   46
27       Seahawks  658  443   67.3      6.9  4513  24   11  240  36.5   34
28       Steelers  563  355   63.1      6.5  3656  24   13  186  33.0   55
29         Texans  546  363   66.5      7.5  4117  27   17  218  39.9   32
30         Titans  628  395   62.9      6.6  4169  24   16  204  32.5   43
31        Vikings  626  401   64.1      6.9  4300  29   16  224  35.8   51

As you see above the amount of tables recovered is two compared to one in the first one. Due to the html element being embedded with a lot of source code for NFL teams logos, as seen if you click on the html file that is attached. If you wanted to dig through the source code and get rid of all the fancy CSS and formatting in the source code from the site then you an dig threw it and you'd just get the basic table.

### Practice One

Since we just made this HTML table from a HTML file and converted it to a dataframe in Pandas, I am going to need your help in saving it as a CSV.

In [7]:
df_filecsv= df.to_csv('HTML2021NFL_Defense.csv',encoding='utf-8', sep=',')  # solution

## Writing a HTML table in Pandas

Lets say that we want to look at how often a team's defence was thrown on with a completion and the amount interceptions they earned from these passing attempts.

In [8]:
df_write = pd.DataFrame({"Teams":["49ers", "Bears", "Bengals", "Bills", "Broncos"], 
                         "Passing Att":[545,477,626,530,562], 
                         "Cmp Pct":[68.3,65.8,67.1,56.0,60.7], 
                         "INT":[9,8,13,19,13]})
df_write.to_html('write2021NFL_Defense.html', index=False)

In [9]:
table3 = pd.read_html('write2021NFL_Defense.html')
print('Tables Recovered:', len(table3)) # Confirm what we see with out output
df_wtest = table3[0] # This will save the first recovered table as df
print(df_wtest.head(20))

Tables Recovered: 1
     Teams  Passing Att  Cmp Pct  INT
0    49ers          545     68.3    9
1    Bears          477     65.8    8
2  Bengals          626     67.1   13
3    Bills          530     56.0   19
4  Broncos          562     60.7   13

df.style is a command used to assist with the modification of the styler object 
    this controls the visual of the dataframe found from the web

### Highlighting Maximum & Minimum Values
    .highlight_max() will highlight th maximum value in a given table
highlighting minimum values is very similar and simple and can be done by using the command .highlight_min()

### Heat Maps 
    Heat maps are a visual add on that allows you to organize your data with color shades. The darker the color, the higher the value 
    Although there is no direct c0mmand to complete this task, the styler.background_gradient() seems to do the trick
        text_color_threshold: dicates the text visibility within the colored graph
### Set properties method
   we can use the command set_properties command to set data indepednadnt properties 
    This is used purely for visual appeal and its pretty easy to sustomize your table

### Decimals
    A table with the least amount of decimals possible is more pleasing to the eye and easier to understand
    The .set_percision() command is used to determine the maximum number of decimals allowed 
    Add easy example...
    Now the dataframe is much easier to read
### Titles 
    When you would like to title your table, just use the .set_caption() command

### Rows 
    If you would like to customize the number of rowns your table consists of you can use pd.set_option("max rows() command 
    This will allow you to add and take away rows as needed.

Simple dataframe example that we will be altering

In [74]:
df5 = df.head(5)
df5.style

In [75]:
df6 = df.style.set_precision(2) # here we limit the decimal places to 2 decimal places

df6

/var/folders/vb/1w4hk2k9619cmfw7pmwzxkh80000gn/T/ipykernel_38286/833940573.py:1: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df6 = df.style.set_precision(2) # here we limit the decimal places to 2 decimal places

As said before we can highlight minimum and maximum values if needed

In [83]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: red' if v else '' for v in is_max]

In [84]:
df.style.apply(highlight_max)

Shown above is highlighting the maxmim values of each row 
    Next, we can build on what we have by combining the two

In [85]:
Seen here, we have all maxmimum values highlighted
Lets say you want to only highlight the maximum value in the entire table 
We can use the .apply function to indicate we want to be testing the entire table

SyntaxError: invalid syntax (2775588354.py, line 1)

Reference: https://pandas.pydata.org/pandas-docs/version/1.1/user_guide/style.html

In [96]:
import seaborn as sns

cm = sns.light_palette('blue', as_cmap=True)

df8 = df6.style.background_gradient(cmap=cm)
df8

AttributeError: 'Styler' object has no attribute 'style'

In [ ]:
commands:
    - remove column
    - remove row